html{
    background: #141414;
    display: flex;
    justify-content: center;
}


body{
    width: 1200px;
    position: relative;

    background: #141414;
    color:  #fff;
}


.state_information{
    width: 1200px;
    height: 60px;
}


/* 状态栏部分 */
.icon_left{
    max-width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 24%;
}

.icon_middle{
    max-width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 49%;
}

.icon_right{
    max-width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 74%;
}



/* 旋转木马部分 */
.carousel{
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.carousel img{
    position: absolute;
    max-height: 400px;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}

.carousel img.active{
    opacity: 1;
}




/* 两个分区 */
.more_kind{
    padding: 10px;
    padding-bottom: 20px;
    overflow-y: auto;
    
}

.share_for_you{
    padding: 10px;
    padding-bottom: 20px;
    overflow-y: auto;
}

/* 两个分区标题 */
.section_kind{
    font-weight: 400;
    font-size: 30px;
}


/* 音乐小卡片组合 */
.playlists-group{
    display: flex;
    justify-content: center;
}

/* 音乐小卡片 */
.music_card{
    height: 200px;
    margin-left: 20px;
    margin-right: 10px;
}

/* 音乐小卡片名字 */
.music_card_text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}




.for_music{
    width: 1200px;
    height: 200px;
}












.music-player-section{
    height: 120px;
    width: 1200px;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    transition: 1s;
}





.current-song-name{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.controls{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
}


.music-player-section.active .controls{
    justify-content: space-between;
}

.music-player-section.active .controls span{
    font-size: 25px;
    display: block;
    opacity: 0.5;
}

.music-player-section.active .controls span.active{
    color: #63ff69;
    opacity: 1;
}





.music-player-section .hide{
    display: none;
    opacity: 0;
    transition: 1s;
}

.music-player-section.active .hide{
    display: block;
    opacity: 1;
}

.music-player-section.active{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}



.music-player-section.active {
    font-size: 40px;
}

.music-player-section.active .controls{
    width: 100%;
    font-size: 50px;
}

.artist-name{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.cover{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.current-time{
    position: absolute;
    margin-top: 10px;
    left: 310px;
}

.duration{
    position: absolute;
    margin-top: 10px;
    right: 310px;
}

.icon{
    position: absolute;
    top: 60px;
    transform: scale(1.3);
}


.volume-slider{
    width: 100px;
    height: 40px;
    position: absolute;
    right: -35px;
    bottom: 80px;
    transform: rotate(-90deg);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    display: none;
}

.volume-slider.active{
    opacity: 1;
    display: block;
}

.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 10px;
    background:  #63ff69;
    box-shadow: -200px 0 1px 200px  #63ff69;
} 

.music-button{
    width: 50px;
    height: 50px;
    /* border: 1px solid blue; */
    border-radius: 15px;
    position: absolute;
    margin-top: 10px;
  }
  #prev{
    left: 24%;
    background-image: url('../controls-image/prevb.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  .play{
    transition: 0.7s;
    left: 49%;
    background-image: url('../controls-image/playb.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  .pause{
    transition: 0.7s;
    left: 49%;
    background-image: url('../controls-image/pauseb.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  #next{
    left: 74%;
    background-image: url('../controls-image/nextb.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  #prev:hover{
    transition: 1s;
    background-color: rgb(138, 138, 138);
    background-image: url('../controls-image/prevw.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  .play:hover{
    transition: 0.7s;
    background-color: rgb(138, 138, 138);
    background-image: url('../controls-image/playw.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  .pause:hover{
    transition: 0.7s;
    background-color: rgb(138, 138, 138);
    background-image: url('../controls-image/pausew.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  #next:hover{
    transition: 0.7s;
    background-color: rgb(138, 138, 138);
    background-image: url('../controls-image/nextw.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }

  
  #vol{
    left:90%;
    transition: 1s;

    background-image: url('../controls-image/vol.jpg');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
  #vol:hover{
    transition: 1s;
    background-color: rgb(138, 138, 138);
    background-image: url('../controls-image/vol.jpg');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }


.music-seek-bar{
    margin-left: 300px;
    top: 10px;
    width: 600px;
    
}

.vol-control{
    margin-left: 1000px;

}

.add{
    width: 20px;
    height: 20px;
}

.sub{
    width: 20px;
    height: 20px;
}



  @-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
    }
    
    .rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 5s linear infinite;
    -moz-animation: rotation 5s linear infinite;
    -webkit-animation: rotation 5s linear infinite;
    -o-animation: rotation 5s linear infinite;
    }
    
    .suspended{
        animation-play-state: paused;
    }
    
    .music-img{
        transition: 1s;
        background-size: 100px 100px;
        background-image: url('../image/打上花火.jpg');
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        /* border: 1px solid red; */
        position: absolute;
        top: 7%;
        left: 9%;
        border-radius: 50%;
      }
      
      .show-img{
        transition: 1s;
        top: -20%;
      }
      
      .hover_img{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50px;
        left: 50px;
        background-color: white;
        border-radius: 50%;
      }

.list_img{
    max-height: 100px;
}




.list_name{
    font-size: 5x;
}



.queue-cover{
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}


