<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="../static/favicon.ico">
  <link href="../static/css/about_us.layout.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/about_us.style.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/about_us.bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/about_us.swiper.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div data-v-8e6b1646="">
    <div id="body" data-spy="scroll" data-target=".header">
      <!-- GLOBAL MANDATORY STYLES -->

      <div class="main-nav">
        <div class="logo">
          <a href="#">
            <img src="../static/image/aboutus/TongJiLogo.png" alt="TongJiLogo.png">
          </a>
          <a href="#">
            <span>同济の家</span>
          </a>
        </div>
        <ul>
          <li><a href="../templates/mainIndex.html" target="_blank">首页</a></li>
          <li><a href="#">校园生活</a></li>
          <li><a href="../templates/web.html">云游同济</a></li>
          <li><a href="../templates/about_us.html">关于我们</a></li>
          <li><a href="../templates/show.html">个人博客</a></li>
          <div class="nav_box"></div>
        </ul>
      </div>


      <!--========== PAGE LAYOUT ==========-->
      <!-- About -->
      <!-- <div id="about"></div>End About -->
      <!-- Experience -->
      <div id="experience">
        <div data-auto-height="true" class="bg-color-white">
          <div class="container content-lg">
            <!-- 调用bootstrap设置container -->
            <div id="csStudent">“同济の家”网站作者：<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              四位来自同济大学计算机科学与技术专业的2021届学生</div>
            <div class="row row-space-2 margin-b-4">
              <div class="col-md-3 col-sm-6 AuthorPic">
                <div data-height="height" class="service">
                  <div class="service-info">
                    <h3 id="dfyName">刁扶瑶</h3><img src="../static/image/aboutus/dfy.jpg" />
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 AuthorPic">
                <div data-height="height" class="service">
                  <div class="service-info">
                    <h3 id="lytName">李元特</h3><img src="../static/image/aboutus/lyt.jpg" />
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 AuthorPic">
                <div data-height="height" class="service">
                  <div class="service-info">
                    <h3 id="sjbName">史君宝</h3><img src="../static/image/aboutus/sjb.jpg" />
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 AuthorPic">
                <div data-height="height" class="service">
                  <div class="service-info">
                    <h3 id="zqxName">张启翔</h3><img src="../static/image/aboutus/zqx.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <!--// end row -->
          </div>
        </div>
      </div><!-- End Experience -->
      <!-- Work -->
      <!-- <div id="work"></div>End Work -->
      <!-- Clients -->

      <div class="bear"></div>
      <div id="contact">
        <div class="bg-color-white">
          <div class="container content-lg">
            <div class="row margin-b-40">
              <div class="col-sm-6">
                <h3>联系方式</h3>
                <p id="contactMethod">
                  欢迎对此网站有任何想法的人与我们联系，我们非常期望得到你们的反馈，为我们网站的发展提供宝贵的意见~~
                </p>
              </div>
            </div>
            <!--// end row -->
            <div class="row">
              <div class="col-md-3 col-xs-6">
                <h4>地址</h4><a href="#" id="address">上海市嘉定区曹安公路4800号</a>
              </div>
              <div class="col-md-3 col-xs-6">
                <h4>电话</h4><a href="#" id="telephone">186-8888-8888</a>
              </div>
              <div class="col-md-3 col-xs-6">
                <h4>Email</h4><a href="mailto:help@lapus.cn" id="email">2158888@tongji.edu.cn</a>
              </div>
              <div class="col-md-3 col-xs-6">
                <h4>网站</h4><a href="#" id="website">xxx.tongji.edu.cn</a>
              </div>
            </div>
            <!--// end row -->
          </div>
        </div>
      </div><!-- End Contact -->
      <!--========== END PAGE LAYOUT ==========-->
      <!--========== FOOTER ==========-->
      <footer class="footer">
        <div class="content container">
          <div class="row">
            <div class="col-xs-6"><img src="../static/image/aboutus/FootLogo.png" alt="htmlpage Logo" class="footer-logo" />
            </div>
            <div class="col-xs-6 text-right sm-text-left">
              <p class="margin-b-0">Copyright © 2022 Tongji</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<html>