<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录</title>
  <style>
    h1 {
      font-family: spanFont;
    }

    h3 {
      font-family: spanFont;
    }
  </style>
</head>

<body>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='mycss.css' )}}>
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div class="nav">
    <a href="{{ url_for('index') }}">首页</a>
  </div>
  <!--div class="form"-->

  <div class="container" style="padding:40px">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    <h3>欢迎登录</h3>
    <div class="loginfrom">
      <br>
      <div>
        <h1 align="center" style="color: rgba(0, 0, 0); font-size:35px">
          <div><img src="../static/image/TongJiLogo.png" alt="同济logo"></div>同济の家
        </h1>
      </div>
      <br>
      <form method="post" action="/login">
        <div class="form-group">
          <label for="usr" class="form-id">Name:</label>
          <input type="text" class="form-control" id="usr" name="username" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="pwd" class="form-id">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/register" class="btn btn-info" role="button">Register</a>
      </form>
    </div>
    <div class="pic3">
      <img src="../static/image/3.png">
    </div>
    <div class="pic4">
      <img src="../static/image/4.png">
    </div>
    <div class="pic5">
      <img src="../static/image/5.png">
    </div>
    <div class="pic10">
      <img src="../static/image/10.png">
    </div>
    <div class="pic11">
      <img src="../static/image/11.png">
    </div>
  </div>


  {% if error %}
  <p>{{error}}</p>
  {% endif %}

</body>





</body>

</html>