<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<link rel="icon" href="../static/favicon.ico">
	<title>同济之家</title>
	<meta name="description" content="Tongji">
	<meta name="keywords" content="Tongji,School Life,HTML,CSS,JavaScript">
	<meta name="author" content="刁扶瑶，李元特，史君宝，张启翔">

	<link rel="stylesheet" type="text/css" href="../static/css/show.css">

</head>

<body >
	<div class="container">
		<div class="stu1">
			<img src="../static/image/show/friend_girl.png">
		</div>
		<div class="stu2">
			<img src="../static/image/show/friend_boy.png">
		</div>
		<div class="stu3">
			<img src="../static/image/show/little_boy.png">
		</div>
		<div class="stu4">
			<img src="../static/image/show/my_girl.png">
		</div>
		<div class="stu5">
			<img src="../static/image/show/my_boy.png">
		</div>
		<div class="stu6">
			<img src="../static/image/show/student_girl.png">
		</div>
		<div class="stu7">
			<img src="../static/image/show/angel.png">
		</div>
		<div class="stu8">
			<img src="../static/image/show/student.png">
		</div>
		<div class="stu9">
			<img src="../static/image/show/brother.png">
		</div>
		<div class="stu10">
			<img src="../static/image/show/idou.png">
		</div>
		<div class="stu11">
			<img src="../static/image/show/little_boy.png">
		</div>
		<div class="stu12">
			<img src="../static/image/show/man.png">
		</div>
		<div class="stu13">
			<img src="../static/image/show/friend_girl.png">
		</div>
		<div class="stu14">
			<img src="../static/image/show/girl.png">
		</div>
	</div>
	<div class="title">
		<p id="Headline"></p>
	</div>

	<div class="container2">
		<a href="../templates/mainIndex.html">
		  <div class="button">
			 <img src="../static/image/show/deng.png">
		  </div>
		  <div class="word">
			 <span> 开启同济之旅</span>
		  </div>
		</a>
	</div>

	<!-- 引入js库 -->
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/typeit@6.1.1/dist/typeit.min.js"></script>
	<script src="../static/js/talk.js"></script>
	<script src="https://qncdn.wanshifu.com/wshifu-user/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/su.js"></script>
	<script>
			(function () {
				new WOW().init()
			})()
	</script>
</body>
</html>