<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="../static/favicon.ico">
	<title>云游同济</title>
	<link rel="stylesheet" href="../static/css/web.showhide.css" />
	<link rel="stylesheet" href="../static/css/web.mystyle.css" />
	<script type="text/javascript" src="../static/js/showhide.js"></script>
</head>

<body>

	<div class="main-nav">
		<div class="logo">
			<a href="#">
				<img src="../static/image/web/TongJiLogo.png" alt="TongJiLogo.png">
			</a>
			<a href="#">
				<span>同济の家</span>
			</a>
		</div>
		<ul>
			<li><a href="../templates/mainIndex.html"
					target="_blank">首页</a></li>
			<li><a href="#">校园生活</a></li>
			<li><a href="../templates/web.html">云游同济</a></li>
			<li><a href="../templates/about_us.html">关于我们</a></li>
			<li><a href="../templates/show.html">个人博客</a></li>
			<div class="nav_box"></div>
		</ul>
	</div>
	
	<div class="photo">
		<div><img src="../static/image/web/river.jpg" alt="嘉定河畔" height="200px"></div>
		<div><img src="../static/image/web/jd.jpg" alt="嘉定" height="200px"></div>
		<div><img src="../static/image/web/cat.jpg" alt="猫" height="200px"></div>
		<div><img src="../static/image/web/food.jpg" alt="济美食" height="200px"></div>
		<div><img src="../static/image/web/cloud.jpg" alt="天空" height="200px"></div>
		<div><img src="../static/image/web/gate.jpg" alt="同济" height="200px"></div>
		<div><img src="../static/image/web/flower.jpg"  alt="四平樱花" height="200px"></div>
	</div>

	<div id="showhide">
		<div class="td-list">
			<p>
				<a href="http://all.tongji.edu.cn" title="" class="item01">一网通办</a>
				<a href="http://oa.tongji.edu.cn/login/Login.jsp?logintype=1" title="" class="item02">OA系统</a>
				<a href="http://www.lib.tongji.edu.cn/" title="" class="item03">图书馆</a>
				<a href="https://help.tongji.edu.cn/" title="" class="item04">同心云</a>
				<a href="http://service.tongji.edu.cn" title="" class="item05">办事大厅</a>
				<a href="https://1.tongji.edu.cn" title="" class="item06">教务系统</a>
			</p>
			<div id="show" style="display:none">
				<p>
					<a href="http://cwc.tongji.edu.cn/WFManager/login.jsp" title="" class="item07">财务系统</a>
					<a href="http://nic.tongji.edu.cn/" title="" class="item08">网络中心</a>
					<a href="wx.htm" title="" class="item09">同济微信</a>
					<a href="https://weibo.com/tongjiuniversity" title="" class="item10">同济微博</a>
					<a href="https://mail.tongji.edu.cn/coremail/index.jsp" title="" class="item11">同济邮箱</a>
					<a href="https://www.douyin.com/user/MS4wLjABAAAAdCQLg0R2S0LakR5PfyJEkQclHg-YooZ4Y8pj6D6uPh4" title="" class="item12">同济抖音</a>
					<a href="https://www.kuaishou.com/profile/3xn6w5r85nc9djc" title=""  class=" item13">同济快手</a>
					<a href="https://space.bilibili.com/481701670?from=search&ampseid=3712209867347899427" title=""
						class="item14">同济bilibili</a>
					<a href="http://fund.tongji.edu.cn/" title="" class="item15">我要捐赠</a>
				</p>
			</div>
		</div>
	</div>

		<p class="slide"><a href="javascript:showdiv();" id="strHref" class="change-slide">查看更多</a></p>

	<div>
		<footer class="footer">
			  <div class="row">
				<span class="footer-logo"><img src="../static/image/aboutus/FootLogo.png" alt="footerlogo.png" /></div>
				<span class="footer-copyright">
				  <p>Copyright © 2022 Tongji</p>
				</div>
			  </div>
		  </footer>
	</div>
	
	<!-- <div class="wryIsPig">
		<img src="../images/web/pig1.gif" alt="pig1" class="pig1">
		<img src="../images/web/pig2.gif" alt="pig2" class="pig2">
	</div>
    <script src="https://cdn.bootcss.com/wow/1.1.2/wow.js"></script>
    <script src="./js/typeit.min.js"></script>
    <script src="./js/swiper-3.4.2.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>

    <script src="./js/lovetime.js"></script>
    <script src="./js/talk.js"></script>
    <script src="./js/swiper.js"></script>
    <script src="./js/su.js"></script>
    <script>
        (function () {
            new WOW().init()
        })()
    </script>
  -->
 

</body>

</html>